{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-3 mb-3">
		<h1>Import de fichier</h1>


		<!-- Formulaire d'importation -->

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Importer</button>
		{{ form_end(form) }}

		<!-- Affichage de données -->

		<table id="datatable" class="table display">
			<thead>
				<tr>
					<th>Immatriculation</th>
					<th>Nom</th>
					<th>Prénom</th>
				</tr>
			</thead>
			<tbody>
				{% for vehicule in vehicules %}
					<tr>
						<td>{{ vehicule.immatriculation }}</td>
						<td>{{ vehicule.nom }}</td>
						<td>{{ vehicule.prenom }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>
{% endblock %}
